fastapi
uvicorn[standard]
spacy
en_core_web_sm
benepar
nltk

# Modelleri doğrudan paket olarak yüklüyoruz
# spaCy İngilizce modeli
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
# benepar İngilizce modeli
# https://github.com/nikitakit/self-attentive-parser/releases/download/models/benepar_en3.zip
